*:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
 body {
  background: url("/background.jpg") no-repeat;
  overflow: hidden;
  background-size: cover;
  text-align:center;
}

.onClickTextOverImage{
  width:165px;
  height:170px;
  background-size:cover;
  display:inline-block;
  margin:10px;
  border-radius:10px;
  box-shadow:0 0 16px rgba(0,0,0,0.5);
  position:relative;
}

.onClickTextOverImage *{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:2;
}

#ulId{
    list-style: none;
    height:75%;
    width:75%%;
}

li{
    display:inline-block;
}

.onClickTextOverImage div{
  z-index:1;
  color:#fff;
  text-align:center;
  padding:8px;
  padding-top:35%;
  background-color:rgba(0,0,0,0.5);
  border-radius:16px;
  opacity:0;
  transition:.3s;
}
.onClickTextOverImage div:target{
  opacity:1;
  padding-top:35%;
  z-index:3;
  font-size:29;
}
.spinner {
  margin: 100px auto;
  width: 400px;
  height: 400px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 40%;
  height: 40%;
  display: inline-block;
  position: absolute;
  top: 0;
  background:linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* General Buttons */
button {
  width: 180px;
  height: 75px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

button:after {
  content: "";
  width: relative;
  height: 75px;
  display: block;
  border-top: 75px solid #187dbc;
  border-bottom: 75px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
}

/* Button pointing left */

button.back {
  text-align: right;
  padding-right: 12px;
  box-sizing: border-box;
}
button.back:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-right: 16px solid transparent;
  border-left: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6;
  left: 0;
  top: 0;
  border-radius: 5px 0 0 5px;
}

